<div class="content" >
  <div class="header">
    <h1>Xin chào!</h1>
    <p>Các thẻ dưới giúp bạn chọn chức năng mà bạn muốn dùng.</p>
  </div>
  <div class="grid">
    <div class="card">
      <h3>ĐẶT HÀNG</h3>
      <p>Tạo đơn đặt hàng trong ngày của cửa hàng.</p>
      <div class="icon green"><i class="fa-solid fa-basket-shopping"></i></div>
      <a routerLink="order">Mở chức năng</a>
    </div>
    <div class="card">
      <h3>ĐƠN TỒN ĐỌNG</h3>
      <p>Tổng hợp các đơn hàng chưa được xác nhận của cửa hàng.</p>
      <div class="icon green"><i class="fa-solid fa-circle-info"></i></div>
      <a routerLink="backlog">Mở chức năng</a>
    </div>
    <div class="footer">
      <button routerLink="/tables">Trở về</button>
    </div>
  </div>
</div>
