.content {
  max-width: 90%;
  margin: 0 auto;
  background-color:transparent;
  padding: 20px;
  border-radius: 8px;
}

.header {
  text-align: left;
  margin-bottom: 20px;
}
.back-link {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
}

.main-content{
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.main-content .title .main-title{
  font-weight:600;
  font-size: 18px;
}
.cash-flow {
  border-top: 2px solid #28a745;
  padding-top: 20px;
}

.cash-flow-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.item-title {
  font-weight: bold;
  font-size: 18px;
}

.item-subtitle {
  font-size: 14px;
  color: #777;
}

.item-controls {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.income {
  background-color: #4CAF50;
  color: white;
}
.income:hover{
  background-color: #28a745;
}
.expense {
  background-color: #dc3545;
  color: white;
}
.expense:hover{
  background-color: red;
}
.total {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-size: 18px;
  border-top: 2px solid #e0e0e0;
  margin-top: 10px;
}
.amount {
  font-weight: bold;
}
.item-title{
  display: flex;
  justify-content: space-between;
}
.expense-list {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-spacing: 0;
}

thead th {
  text-align: left;
  padding: 12px;
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.btn {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-right: 5px;
}

.btn-edit {
  background-color: #17a2b8;
  color: white;
}
.btn-edit:hover{
  background-color: #1ac9e5;
}
.btn-delete {
  background-color: #dc3545;
  color: white;
}
.btn-delete:hover{
  background-color: red;
}
tbody tr:last-child td {
  border-bottom: none;
}

@media (max-width: 768px) {
  .cash-flow-item {
      flex-direction: column;
  }

  .item-controls {
      flex-direction: column;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tbody td {
    padding: 10px;
    text-align: center;
    position: relative;
  }

  tbody td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    padding-left: 10px;
    font-weight: bold;
  }

  tbody td:nth-child(1) {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
  }
  .item-title,.total span,.cash-amount{
    font-size: 14px;
    font-weight: bold;
  }
  .main-content .title .main-title{
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .btn {
      font-size: 14px;
  }

  .total {
      text-align: right;
  }
  .item-title,.total span,.cash-amount{
    font-size: 14px;
    font-weight: bold;
  }
  .main-content .title .main-title{
    font-size: 14px;
  }
}
