/* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Header */
.header-container {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Form */
/* .form-container {
  margin-bottom: 30px;
} */

.form-input {
  margin-bottom: 15px;
}

.form-input label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

button[type="submit"] {
  background-color: #4dac61;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button[type="submit"]:hover {
  background-color: #e67e22;
}

/* Item List */
.item-container {
  margin-top: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
}

.item .name {
  font-size: 16px;
  font-weight: bold;
}

.item .price {
  font-size: 16px;
  color: #007bff;
  font-weight: bold;
}
.submit{
  text-align: center;
  padding-top: 12px;
}
/* Responsive Layout */
@media (max-width: 768px) {
  .item-container .item {
    flex-direction: column;
    align-items: flex-start;
  }

  .item .price {
    margin-top: 5px;
  }

  .form-container,
  .item-container {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 15px;
  }

  button[type="submit"] {
    width: 100%;
    padding: 12px;
  }
}
