.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #4dac61;
  margin-bottom: 20px;
}
.store-info{
  margin-left: 50px;
}
.store-info p {
  margin: 10px 0;
}
strong{
  color: #4dac61;
}
.detail{
  text-align: center;
}
.detail button{
  width: 100px;
  height: 30px;
  border-radius: 4px;
  background-color: #4dac61;
  color: white;
  border: none;
}
.detail button:hover{
  background-color: #45a049;
}
@media (max-width: 600px) {
  .container {
      padding: 15px;
      width: auto;
  }
  strong{
    color: #4dac61;
  }
}
