.shopping-cart{
  width:100%;
  max-height: 1000px;
  margin-top: 3%;
  padding: 10px;
}
.title{
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: large;
  color: #4dac61;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.list-buy{
  width: 100%;
  height: calc(100% - 200px);
  max-height: 1000px;
  overflow-y: auto;
}
.list-buy .item-buy{
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
  background-color:white;
  border-top:grey solid 1px;

}
.name-note{
  padding-top: 8px;
}
.more{
  display: flex;
  margin-top: 4%;
}
.more button{
  width: 20px;
  border: #4dac61 solid 1px;
  border-radius: 4px;
}
.more button:hover{
  background-color: #4dac61;
  cursor: pointer;
  color: white;
}
.bill{
  width:100%;
  height: 18%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bill-title{
  font-weight: 700;
  font-size: medium;
  color: #4dac61;
  font-style:italic
}
.money{
  font-weight: 700;
  font-style: italic;
}
.menu-title,.menu-all{
  width:100%;
  box-sizing: border-box;
  padding-left: 10px;
  text-align: left;
}
.menu-title>div,.menu-all{
  padding-bottom: 16px;
  font-weight: 500;
  font-size: small;
}
.menu-title>div:hover,
.menu-all:hover{
  color:#4dac61;
  text-decoration: underline;
  cursor: pointer;
}
.confirm {
  width: 100%;
  height: 120px;
  text-align: center;
}
.confirm button{
  background-color: #4dac61;
  border: #4dac61 solid 1px ;
  width: 80%;
  height: 30px;
  border-radius:4px;
  margin-top: 10px;
  color: white;
}
.confirm button:hover{
  cursor: pointer;
  background-color:green;
}
.note-i{
  font-style: italic;
  font-size: 12px;
}
