<div class="shopping-cart">
  <div class="title" style="font-weight: 700; font-size: large">
    Thanh toán hoá đơn bàn {{ data.table }}
  </div>
  <div class="list-buy">
    <div *ngFor="let item of data.details">
      <div class="item-buy" *ngIf="item.num > 0">
        <div class="name-note">
          <div class="id-i" style="display: none"></div>
          <div class="name-i">{{ item.name }}</div>
          <div class="note-i">{{ item.note }}</div>
        </div>
        <div class="item-number">
          <div class="number" style="margin: 0 5px 0 5px">
            x{{ item.num }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bill">
    <div class="bill-title">Tổng tiền:</div>
    <div class="money">{{ data.total| moneyTransform }}đ</div>
    <div class="qr-scan">
      <img [src]="vietQrURL" >
      <button (click)="close()">Xong</button>
    </div>
  </div>
</div>
