<body>
  <div class="list-drinks-ipad">
    <div class="menu-title-ipad">
      <div class="group" (click)="getAllMenu()">Tất cả</div>
      <div class="group" *ngFor="let g of groups" (click)="getItem(g.id)">
        {{ g.name }}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="list-drinks">
      <div class="title" style="font-weight: 700; font-size: large">
        Thực đơn
      </div>
      <div class="menu-title">
        <div class="group" (click)="getAllMenu()">Tất cả</div>
        <div class="group" *ngFor="let g of groups" (click)="getItem(g.id)">
          {{ g.name }}
        </div>
      </div>
    </div>
    <div class="menu-choose">
      <div class="search">
        <input type="text" placeholder="Tìm món..." />
      </div>
      <div class="drinks">
        <div
          class="item{{ item.id }}"
          style="height: 20%"
          *ngFor="let item of menu"
        >
          <div class="img">
            <img src="https://api.ahacafe.vn/user/2/menu-items/14.jpg" />
          </div>
          <div class="infor">
            <div class="id" style="display: none">{{ item.id }}</div>
            <div class="name">{{ item.name }}</div>
            <div class="price">{{ item.price | moneyTransform }}đ</div>
            <div class="button">
              <button (click)="addCart(item)">Thêm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shopping-cart">
      <div class="title" style="font-weight: 700; font-size: large">
        Đơn hàng
      </div>
      <div class="list-buy">
        <div class="item-buy" *ngFor="let i of cart">
          <div class="item" *ngIf="i.num > 0">
            <div class="name-note">
              <div class="id-i" style="display: none"></div>
              <div class="name-i">{{ i.name }}</div>
            </div>
            <div class="more">
              <div class="less" (click)="minus(i)">
                <button>-</button>
              </div>
              <div class="number" style="margin: 0 5px 0 5px">
                {{ i.num }}
              </div>
              <div class="plus" (click)="plus(i)">
                <button>+</button>
              </div>
              <div class="delete" (click)="delete(i)" style="margin-left: 5px;">
                <bUtton>x</bUtton>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bill">
        <div class="bill-title">Tổng tiền:</div>
        <div class="money">{{ sum | moneyTransform}}đ</div>
        <div class="confirm" *ngIf="type == 'new'" (click)="saveNew()">
          <button>Lưu</button>
        </div>
        <div class="confirm" *ngIf="type == 'edit'" (click)="saveEdit()">
          <button>Lưu</button>
        </div>
      </div>
    </div>
  </div>
</body>
