<div class="content">
  <div class="header">
    <h1>Xin chào!</h1>
    <p>Các thẻ dưới giúp bạn chọn chức năng mà bạn muốn dùng.</p>
  </div>
  <div class="grid">
    <div class="card">
      <h3>BÁN HÀNG</h3>
      <p>Thống kê doanh số, hóa đơn và hoạt động trong ngày của cửa hàng.</p>
      <div class="icon green"><i class="fa fa-coffee"></i></div>
      <a routerLink="sale">Mở chức năng</a>
    </div>
    <!-- <div class="card">
          <h3>LỆNH PHA CHẾ</h3>
          <p>Theo dõi danh sách các yêu cầu pha chế đang có tại cửa hàng.</p>
          <div class="icon green"><i class="fa fa-list"></i></div>
          <a href="#">Mở chức năng</a>
      </div>
      <div class="card">
          <h3>QUẢN LÝ NHÂN SỰ</h3>
          <p>Phân công, sắp xếp công việc, chế độ cho nhân sự của cửa hàng.</p>
          <div class="icon purple"><i class="fa fa-users"></i></div>
          <a href="#">Mở chức năng</a>
      </div>
    -->
    <div class="card">
      <h3>THU CHI TIỀN MẶT</h3>
      <p>
        Tạo, chỉnh sửa, chốt các khoản thu chi tiền mặt trong ngày của cửa hàng.
      </p>
      <div class="icon orange"><i class="fa-solid fa-dollar-sign"></i></div>
      <a routerLink="income">Mở chức năng</a>
    </div>
    <!-- <div class="card">
          <h3>QUYẾT TOÁN THÁNG TRƯỚC</h3>
          <p>Công cụ để bạn quyết toán các khoản thu chi của tháng trước.</p>
          <div class="icon orange"><i class="fa fa-calendar-check-o"></i></div>
          <a href="#">Mở chức năng</a>
      </div> -->
    <div class="card">
      <h3>HÀNG HÓA</h3>
      <p>
        Công cụ để bạn tạo yêu cầu nhập hàng từ kho tổng và xử lý các đơn hàng.
      </p>
      <div class="icon red"><i class="fa fa-archive"></i></div>
      <a routerLink="">Mở chức năng</a>
    </div>
    <div class="card">
      <h3>BÁO CÁO</h3>
      <p>Quản lý và theo dõi các báo cáo hoạt động của cửa hàng.</p>
      <div class="icon blue"><i class="fa fa-bar-chart"></i></div>
      <a routerLink="report">Mở chức năng</a>
    </div>
  </div>
  <div class="footer">
    <button routerLink="/tables">Trở về</button>
  </div>
</div>
