<div class="order-board">
  <div class="order-tab">
    <button class="tab-button active">Các phiếu cần giao</button>
    <button class="tab-button">Các phiếu đã giao</button>
  </div>

  <div class="order-cards">

    <div class="order-card">
      <div class="header">
        <div class="table-id">B05</div>
        <div class="time">1ph</div>
      </div>
      <div class="body">
        <div class="item">
          <span>Bạc hà sôcôla</span>
          <span>x1</span>
        </div>
        <div class="item">
          <span>Trà Đào Đá</span>
          <span>x1</span>
        </div>
      </div>
    </div>


    <div class="order-card">
      <div class="header">
        <div class="table-id">B05</div>
        <div class="time">1ph</div>
      </div>
      <div class="body">
        <div class="item">
          <span>Bạc hà sôcôla</span>
          <span>x1</span>
        </div>
        <div class="item">
          <span>Trà Đào Đá</span>
          <span>x1</span>
        </div>
      </div>
    </div>

    <!-- Add more order cards here -->

  </div>
</div>
