<div class="order-board">
  <div class="order-tab">
    <button class="tab-button active" (click)="getItems('not_confirm')">Các phiếu cần giao</button>
    <button class="tab-button active" (click)="getItems('confirm')">Các phiếu đã giao</button>
  </div>

  <div class="order-cards" >

    <div class="order-card" *ngFor="let i of itemsOrder">
      <div class="header" style=" background-color: #28a745;" *ngIf="i.name.indexOf('Huỷ') === -1">
        <div class="table-id">Bàn {{ i.table }}</div>
      </div>
      <div class="header" style=" background-color: #f24920;" *ngIf="i.name.indexOf('Huỷ') != -1">
        <div class="table-id">Bàn {{ i.table }}</div>
      </div>
      <div class="body">
        <div class="item">
          <span>{{ i.name }}</span>
          <span *ngIf="i.num > 0">x {{ i.num }}</span>
          <span *ngIf="i.num < 0">x {{ i.num * -1 }}</span>
        </div>
      </div>
      <div class="btn" *ngIf="i.status === 'not_confirm'">
        <button (click)="confirm(i)" >Xong</button>
      </div>
      <div class="btn" *ngIf="i.status === 'confirm'">
        <button>Đã hoàn thành</button>
      </div>
    </div>

    <!-- Add more order cards here -->

  </div>
</div>
