<div class="container">
  <header>
    <h2>Chọn nhân sự</h2>
  </header>
  <main>
    <ul class="account-list">
      <li
        class="account-item"
        *ngFor="let staff of staffs"
        (click)="openModalPassword(staff.id)"
      >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn1FyCMrZncYJLZq-sL0FF2kYzvTvzewjT0g&s" />
        <span>{{ staff.name }}</span>
      </li>
    </ul>
    <div class="actions">
      <button class="btn" (click)="logout()">Đăng xuất</button>
    </div>
  </main>
</div>
