<div class="content">
  <header class="header">
    <a routerLink="/manage" class="home-link"
      ><i class="fas fa-home"></i> Trở về</a
    >
  </header>

  <div class="grid">
    <div class="card large">
      <h3>DOANH SỐ NGÀY 19-07-2024</h3>
      <div class="revenue">
        <div class="revenue-item green">
          <i class="fas fa-check"></i>
          <span>{{ paid | moneyTransform }}đ</span>
          <p>ĐÃ THU</p>
        </div>
        <div class="revenue-item orange">
          <i class="fas fa-glass-martini"></i>
          <span>{{ unpaid | moneyTransform }}đ</span>
          <p>CHƯA THU</p>
        </div>
        <div class="revenue-item teal">
          <i class="fas fa-dollar-sign"></i>
          <span>{{ paid + unpaid | moneyTransform}}đ</span>
          <p>TỔNG</p>
        </div>
      </div>
    </div>

    <div class="card">
      <h3>HÌNH THỨC THANH TOÁN</h3>
      <table>
        <tr>
          <td>TIỀN MẶT</td>
          <td class="right">{{ paid | moneyTransform }}đ</td>
        </tr>
        <!-- <tr>
                  <td>THU TIỀN MẶT</td>
                  <td class="right">31,980</td>
              </tr>
              <tr>
                  <td>NOW</td>
                  <td class="right">0</td>
              </tr> -->
        <tr>
          <td>TỔNG</td>
          <td class="right">{{ paid | moneyTransform }}đ</td>
        </tr>
      </table>
    </div>

    <!-- <div class="card">
          <h3>TOP 10 MÓN <i class="fas fa-info-circle"></i></h3>
          <ul class="top-items">
              <li>Cà phê sữa pha máy <span class="right">20.48%</span></li>
              <li>Bạc Xỉu <span class="right">5.43%</span></li>
              <li>Cà phê Nâu <span class="right">5.12%</span></li>
              <li>Chanh Tươi <span class="right">5.12%</span></li>
              <li>Cà phê đen pha máy <span class="right">4.14%</span></li>
              <li>Trà Đào Cam Sả <span class="right">3.95%</span></li>
          </ul>
      </div> -->

    <div class="card">
      <h3>NHÂN SỰ</h3>
      <div class="employee" *ngFor="let s of staffs">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn1FyCMrZncYJLZq-sL0FF2kYzvTvzewjT0g&s"
        />
        <div>
          <p>{{ s.name }}</p>
          <p>{{ s.total | moneyTransform }}đ</p>
        </div>
      </div>
    </div>

    <div class="card">
      <h3>SỐ BÀN ĐANG PHỤC VỤ</h3>
      <p><span class="right">{{ tableNum }}</span></p>
    </div>
    <div class="card">
      <h3>LỊCH SỬ HOÁ ĐƠN NGÀY 19-07-2024</h3>
      <div class="filter">
        <label for="status">Trạng thái:</label>
        <select  id="status" #selectStatus (change)="filter()">
          <option value="all"  >Tất cả</option>
          <option value="pay">Đã thanh toán</option>
          <option value="not_pay">Chưa thanh toán</option>
          <option value="delete">Đã huỷ</option>
        </select>
        <label for="status">Nhân sự:</label>
        <select  id="staff" #selectStaff (change)="filter()">
          <option value="all" >Tất cả</option>
          <option value="{{ s.id }}" *ngFor="let s of staffs">{{ s.name }}</option>
        </select>
        <label for="status">Số bàn:</label>
        <input type="text" placeholder="Nhập số bàn..." #tableN (change)="filter()">
      </div>
      <div class="bills">
        <table>
          <thead >
            <tr>
              <th>Bàn</th>
              <th>Thời gian</th>
              <th>Tổng</th>
              <th>Nhân sự</th>
              <th>Trạng thái</th>
              <th>Chi tiết</th>
            </tr>
          </thead>
          <tbody >
            <!-- <tr *ngFor="let bill of bills">
                  <td>97HC{{ bill.id }}</td>
                  <td>{{ bill.time }}</td>
                  <td>{{ bill.total }} VND</td>
                  <td>{{ bill.staff }}</td>
              </tr> -->
            <tr *ngFor="let b of billsLU">
              <td>{{ b.table }}</td>
              <td>{{ b.date}}</td>
              <td>{{ b.total | moneyTransform }}đ</td>
              <td>{{ b.nameStaff }}</td>
              <td *ngIf="b.status === 'not_pay'">Chưa thanh toán</td>
              <td *ngIf="b.status === 'pay'">Đã thanh toán</td>
              <td *ngIf="b.status === 'delete'">Đã huỷ</td>
              <td><button>Xem</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
