<div class="content">
  <header class="header">
    <a routerLink="/manage" class="home-link"
      ><i class="fas fa-home"></i> Trở về</a
    >
  </header>

  <div class="grid">
    <div class="card large">
      <h3>DOANH SỐ NGÀY {{ getDate() }}</h3>
      <div class="revenue">
        <div class="revenue-item green">
          <i class="fas fa-check"></i>
          <span>{{ paid | moneyTransform }}đ</span>
          <p>ĐÃ THU</p>
        </div>
        <div class="revenue-item orange">
          <i class="fas fa-glass-martini"></i>
          <span>{{ unpaid | moneyTransform }}đ</span>
          <p>CHƯA THU</p>
        </div>
        <div class="revenue-item teal">
          <i class="fas fa-dollar-sign"></i>
          <span>{{ paid + unpaid | moneyTransform}}đ</span>
          <p>TỔNG</p>
        </div>
      </div>
    </div>

    <div class="card">
      <h3>HÌNH THỨC THANH TOÁN</h3>
      <table>
        <tr>
          <td>TIỀN MẶT</td>
          <td class="right"><p>{{ paid | moneyTransform }}đ</p></td>
        </tr>
        <!-- <tr>
                  <td>THU TIỀN MẶT</td>
                  <td class="right">31,980</td>
              </tr>
              <tr>
                  <td>NOW</td>
                  <td class="right">0</td>
              </tr> -->
        <tr>
          <td>TỔNG</td>
          <td class="right"><p>{{ paid | moneyTransform }}đ</p></td>
        </tr>
      </table>
    </div>

    <!-- <div class="card">
          <h3>TOP 10 MÓN <i class="fas fa-info-circle"></i></h3>
          <ul class="top-items">
              <li>Cà phê sữa pha máy <span class="right">20.48%</span></li>
              <li>Bạc Xỉu <span class="right">5.43%</span></li>
              <li>Cà phê Nâu <span class="right">5.12%</span></li>
              <li>Chanh Tươi <span class="right">5.12%</span></li>
              <li>Cà phê đen pha máy <span class="right">4.14%</span></li>
              <li>Trà Đào Cam Sả <span class="right">3.95%</span></li>
          </ul>
      </div> -->

    <div class="card">
      <h3>NHÂN SỰ</h3>
      <div class="employee" *ngFor="let s of staffs">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn1FyCMrZncYJLZq-sL0FF2kYzvTvzewjT0g&s"
        />
        <div>
          <p>{{ s.name }}</p>
          <p>{{ s.total | moneyTransform }}đ</p>
        </div>
      </div>
    </div>

    <div class="card">
      <h3>SỐ BÀN ĐANG PHỤC VỤ</h3>
      <p><span class="right">{{ tableNum }}</span></p>
    </div>
    <div class="card" style="min-width: 90%">
      <h3>LỊCH SỬ HOÁ ĐƠN NGÀY {{ getDate() }}</h3>
      <div class="filter" *ngIf="billsLU.length > 0;else historyNotice">
        <label for="status">Trạng thái:</label>
        <select  id="status" #selectStatus (change)="filter()">
          <option value="all"  >Tất cả</option>
          <option value="pay">Đã thanh toán</option>
          <option value="not_pay">Chưa thanh toán</option>
          <option value="delete">Đã huỷ</option>
        </select>
        <label for="status">Nhân sự:</label>
        <select  id="staff" #selectStaff (change)="filter()">
          <option value="all" >Tất cả</option>
          <option value="{{ s.id }}" *ngFor="let s of staffs">{{ s.name }}</option>
        </select>
        <label for="status">Số bàn:</label>
        <input type="text" placeholder="Nhập số bàn..." #tableN (change)="filter()">
      </div>
      <div class="bills" *ngIf="billsLU.length > 0">
        <table>
          <thead >
            <tr>
              <th class="col1" (click)="sort('table')">Số bàn <i class="fa-solid fa-sort"></i></th>
              <th class="col2" (click)="sort('date')">Thời gian <i class="fa-solid fa-sort"></i></th>
              <th class="col3" (click)="sort('total')">Tổng <i class="fa-solid fa-sort"></i></th>
              <th class="col4" >Nhân sự</th>
              <th class="col5">Trạng thái</th>
              <th class="col6">Chi tiết</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let b of billsLU">
              <td class="col1">{{ b.table }}</td>
              <td class="col2">{{ b.date}}</td>
              <td class="col3">{{ b.total | moneyTransform }}đ</td>
              <td class="col4">{{ b.nameStaff }}</td>
              <td class="col5" *ngIf="b.status === 'not_pay'">Chưa thanh toán</td>
              <td class="col5" *ngIf="b.status === 'pay'">Đã thanh toán</td>
              <td class="col5" *ngIf="b.status === 'delete'">Đã huỷ</td>
              <td class="col6"><button (click)="showDetails(b.id)">Xem</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card" *ngIf="unpaidBills.length > 0">
      <h3>HOÁ ĐƠN TỒN ĐỌNG</h3>
      <div class="bills">
        <table>
          <thead >
            <tr>
              <th class="col1" (click)="sortUnpaid('table')">Số bàn <i class="fa-solid fa-sort"></i></th>
              <th class="col2" (click)="sortUnpaid('date')">Thời gian <i class="fa-solid fa-sort"></i></th>
              <th class="col3" (click)="sortUnpaid('total')">Tổng <i class="fa-solid fa-sort"></i></th>
              <th class="col4" >Nhân sự</th>
              <th class="col5">Trạng thái</th>
              <th class="col6">Hành động</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let b of unpaidBills">
              <td class="col1">{{ b.table }}</td>
              <td class="col2">{{ apiDate(b.date)}}</td>
              <td class="col3">{{ b.total | moneyTransform }}đ</td>
              <td class="col4">{{ b.nameStaff }}</td>
              <td class="col5" *ngIf="b.status === 'not_pay'">Chưa thanh toán</td>
              <td class="col5" *ngIf="b.status === 'pay'">Đã thanh toán</td>
              <td class="col5" *ngIf="b.status === 'delete'">Đã huỷ</td>
              <td class="col6" >
                <button (click)="showDetails(b.id)">Xem</button>
                <button (click)="confirmUnpaid(b)">Thanh toán</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #historyNotice>
  <p style="font-size: 14px;font-style: italic;text-align: center;">Chưa có hoá đơn trong ngày hôm nay !</p>
</ng-template>
