.content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  text-align: left;
  margin-bottom: 20px;
}

.header .home-link {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
}

.card.large {
  flex: 1 0 100%;
}

.card h3 {
  color: #333;
  margin: 0;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 600;
}

.card p {
  color: #666;
  margin: 10px 0;
}

.revenue {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.revenue-item {
  text-align: center;
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  color: white;
  font-size: 16px;
}

.green {
  background-color: #4caf50;
}

.orange {
  background-color: #ff9800;
}

.teal {
  background-color: #009688;
}

.revenue-item span {
  display: block;
  font-size: 16px;
  margin-top: 10px;
}

.table,
.bills table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table td,
.bills table td,
th {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.table .right {
  text-align: right;
}

.top-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-items li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.employee {
  display: flex;
  align-items: center;
}

.employee img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}
.bills table tbody {
  display: block;
  max-height: 400px;
  overflow-y: auto;
}
.bills table thead {
  display: block;
  width: 100%;
}
.bills table tbody tr,
.bills table thead tr {
  display: table;
  width: 100%;
  height: 50px;
  table-layout: fixed;
}
.employee div p {
  margin: 0;
}
tbody::-webkit-scrollbar {
  width: 2px; /* Change this value to adjust scrollbar width */
}

tbody::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px; /* Rounded corners */
}

tbody::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 4px;
}

thead .col1:hover,
thead  .col2:hover,
thead .col3:hover {
  cursor: pointer;
  color: gray;
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select,
input,
button {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

select:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

/* Custom arrow */
select::after {
  content: "\25BC";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

select::-ms-expand {
  display: none;
}
.col6 button{
  background-color: #4dac61;
  color: white;
}
.col6 button:hover{
  background-color: green;
}
.col6 button{
  font-size: 12px;
  width: 100px;
}
@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
  }
  .filter {
    flex-direction: column;
    align-items: flex-start;
  }

  select {
    margin-bottom: 10px;
    width: 100%;
  }
  .filter {
    max-width: 100px;
  }
  .bills .table thead {
    font-size: 10px;
  }
  .col3,
  .col4,
  .col5 {
    display: none;
  }
  .col2 {
    width: 100px;
  }
  .revenue-item p,
  .revenue-item span {
    font-size: 16px;
  }
  .revenue-item {
    min-width: 80%;
    margin-top: 20px;
  }
}
